@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html, body{
    height: 100%;
    font-family: 'Quicksand', 'sans-serif';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------LAYOUT-ADDRESS-------------------------------*/
.layout-address{
    padding: 70px 0 50px 0;
    width: 100%;
    display: block;
}
/*-----------------------ADRESS-HEADER-------------------------------*/
.address-header{
    padding: 30px 15px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 60px;
    text-align: center;
}

.address-header h1{
    color: #2a5f4b;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.address-header h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    margin: 50px auto 0;
    background: #252a2b;
}
/*-----------------------ADDRESS-CONTENT-------------------------------*/
.address-content{
    width: 1170px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*-----------------------ROW-------------------------------*/
.row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.sidebar-account{
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.account-title{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    color: #2a5f4b;
    margin: 0 0 13px 0;
    line-height: 1.2;
}

.account-list ul{
    padding-left: 0;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.account-list ul > li > a{
    display: block;
    position: relative;
    padding: 5px 0px;
    color: #001812;
    text-decoration: none;
    outline: none;
    font-size: 14px;
}

.account-list ul > li > a:hover{
    color: #518372;
}

.account-list ul > li > a::before{
    content: "\f192";
    font-family: "FontAwesome";
    font-size: 8px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: 2px;
    box-sizing: border-box;
}

