/*-------------------------------------------------------------------FOOTER-------------------------------------------------------------------*/
footer{
    padding-top: 20px;
    background: #f4f4f4;
    border-top: 2px solid #dadada;
}

.firstFooter{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.firstFooter .footerBox:first-child{
    padding-left: 10rem;
}

.firstFooter .footerBox:last-child{
    padding-right: 10rem;

}

.firstFooter .footerBox{
    display: flex;
    flex-direction: column;
}

.footerBox h3{
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footerBox a,
.footerBox p{
    color: #000;
    margin-bottom: 10px;
}

.footerBox a{
    text-decoration: none;
}

.footerBox p{
    max-width: 250px;
}

.social{
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.social a{
    font-size: 24px;
    color: var(--bg-color);
}

.wrapSocialIcon{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: #7d7d7d;
}

.secondFooter{
    padding-top: 20px;
    background: #f4f4f4;
    color: #f4f4f4;
    border-top: 2px solid #dadada;
}

.secondFooter p{
    padding-left: 150px;
    margin-top: 5px;
    color: #000;
}