.wrap-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto; /* Cho phép cuộn ngang nếu nội dung tràn ra */
    max-width: 100%; /* Đảm bảo bảng không tràn ra khỏi kích thước của container cha */
}

#userTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Sử dụng định dạng bảng cố định */
    word-wrap: break-word; /* Tự động ngắt từ để phù hợp với chiều rộng của cột */
}

#userTable th,
#userTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

#userTable input[type="text"],
#userTable select {
    width: calc(100% - 16px); /* Sửa độ rộng của input và select để tránh tràn ra khỏi ô */
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#userTable input[type="text"]:focus {
    border: 1px solid #ddd;
    /* Hiển thị border khi input được focus */
}

.image-container {
    display: flex; /* Sử dụng flexbox để hiển thị các hình ảnh theo hàng ngang */

    gap: 2px; /* Khoảng cách giữa các hình ảnh */
  }

#userTable td img {
    max-width: 100px;
    /* Giới hạn chiều rộng tối đa của hình ảnh */
    max-height: 100px;
    /* Giới hạn chiều cao tối đa của hình ảnh */
    display: block;
    /* Đảm bảo hình ảnh được hiển thị theo hàng ngang */
    margin: auto;
    /* Căn giữa hình ảnh trong ô */
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #007bff;
    margin: 0 4px;
    border-radius: 4px;
    display: inline-block;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination a.active {
    background-color: #007bff;
    color: #fff;
    pointer-events: none;
    /* Ngăn chặn việc nhấp vào nút trang hiện tại */
}